main {
    width: 100%;
    position: absolute;
    top: 72px;
}

#txt-result {
    font-family: 'Poppins', sans-serif;
    font-size: 34px;
    text-align: center;
    margin-bottom: 8px;
}

#users-container {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

#empty-text {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

.user-card {
    width: 200px;
    height: 280px;
    border-radius: 8px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    margin: 16px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.user-card .user-picture {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.user-main-text, .user-sub-text, .user-card .action-button {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.user-main-text {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
}

.user-sub-text {
    font-size: 12px;
    font-weight: 300;
}

.user-info {
    display: flex;
}

.user-info .info-part {
    width: 60px;
}

.vertical-line {
    width: 1px;
    height: 100%;
    margin: 0 8px;
    background-color: #BEBEBE;
}

.user-card .action-button {
    width: 100%;
    height: 36px;
    background-color: #FF7651;
    border-radius: 18px;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: white;
    line-height: 36px;
}